.about {
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../public/resources/Iceland_copy.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hi {
    font-size: 48px;
    padding-bottom: 2vh;
}

.about-text {
    flex-direction: row;
    max-width: 49vw;
    justify-content: start;
    text-align: center;
    font-size: 1.24em;
}

.about-section {
    padding: 1.7em 1.7em 2.4em 1.7em;
    /* margin-bottom: 3em; */
    box-sizing: content-box;
    border-radius: 1.6em;
    background-color: rgba(255,255,255,0.48);
}