.experience-section {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-top: 8vh;
}

.experience-header {
    font-size: 54px;
    padding: 16px 0;
}

.experience-image {
    float: left;
    width: 18vw;
    text-align: left;
}

h3 { 
    color: #5680e9; 
    font-family: 'Trocchi'; 
    font-size: 36px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
}

.position {
    color: #5680e9;
    font-size: 21px;
}

.date {
    color: #5680e9;
    font-size: 18px;
    float: right;
}

.experience-text {
    float: right;
    width: 36vw;
    text-align: left;
    font-family: "Trocchi";
}

ul {
    padding: 1px 0;
    list-style-type: square;
}

li {
    padding: 3px 0;
    font-size: 17px;
}

.on {
    padding: 0.2em;
    background-color: rgb(138,43,226, 0.18);
}

.off {
    color: black;
    padding: 0.2em;
}

.experience-date {
    font-size: 20px;
}

.experience-img {
    width: 12vw;
    height: 12vw;
}

.experience-tech {
    padding: 3vw 3vw;
    width: 10vw;
    text-align: right;
    float: right;
}

.experience-tech ul {
    padding-top: 2vw;
    list-style-type: none;
}

.experience-tech li:hover {
    cursor: default;
    color: rgb(138,43,226);
    font-weight: bold;
}

.experience-item {
    padding-top: 2vh;
}