.experience-section {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-top: 8vh;
}

.experience-header {
    font-size: 54px;
    padding: 1vh 0;
}

.experience-title {
    font-size: 36px;
    padding-right: 70px;
}

.experience-img-textnow {
    max-width: 136px;
    max-height: 136px;
    width: auto;
    height: auto;
    vertical-align: middle;
    padding-bottom: 0.2em;
}

.experience-img-sap {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    vertical-align: middle;
    padding-bottom: 0.5em;
}

.experience-img-dematic {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    vertical-align: middle;
    padding-bottom: 29px;
}

.experience-date-textnow {
    float: right;
    padding-top:3.6em;
}

.experience-date-sap {
    float: right;
    padding-top:2.4em;
}

.experience-date-dematic {
    float: right;
    padding-top:3em;
}

.at {
    font-size: 20px;
}

h3 { 
    font-size: 36px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
}

.experience-body {
    float: right;
    width: 60vw;
    text-align: left;
}

.experience-text {
    padding: 3px 0;
    font-size: 1.2em;
}

.on {
    padding: 0.2em;
    background-color: rgb(138,43,226, 0.18);
}

.off {
    color: black;
    padding: 0.2em;
}

.experience-tech {
    font-size: 1.2em;
    padding-bottom: 1em;
}

.experience-item {
    padding-top: 2vh;
}