.projects-section {
    height: 100vh;
}

.projects-header {
    font-size: 54px;
    padding: 10vh 5vw 5vh 5vw;

    /* padding: 16px 0; */
}

.projects {
    display: flex;
    padding: 0vh 8vw;
}

.card {
    margin: 2vh 3vw;
    width: 24vw;
}

.media {
    height: 0;
    padding-top: 56.25%;
}

.tech li {
    list-style: none;
}
