.projects-section {
    height: 100vh;
}

.projects-header {
    font-size: 54px;
    padding: 8vh 5vw 6vh 5vw;
}

.projects {
    display: flex;
    padding: 0vh 5vw;
}

.card {
    margin: 2vh 1.2vw;
    width: 24vw;
}

.card:hover {
    transform: scale(1.05);
}

.media {
    height: 0;
    padding-top: 56.25%;
}

.tech li {
    list-style: none;
}
