.contact-item {
    margin: 20px;
    font-size: 36px;
    display: inline-block;
    background-color: white;
    width: 60px;
    height: 48px;
    padding-top: 1.6vh;
    border-radius: 50%;
    border: #5680e9 solid;
    top: 0px;
  }

  .contact-info {
    padding-top: 2vh;
  }
  
  .contact-item:hover {
    transform: scale(1.1);
  }
